{% liquid
    assign coverage_rates = shop.metafields.custom_fields["coverage_rates"]
    assign coverage_calculator = shop.metafields.custom_fields["coverage_calculator"][0]
    assign current_product = selected.title
    assign has_product = false

     for item in shop.metafields.custom_fields["coverage_rates"]
         if item["product"] != blank
             assign product = all_products[item["product"]]
             if product.title == current_product and has_product == false
                 assign has_product = true
             endif
         endif
     endfor
%}

{% if coverage_rates != blank %}
<script>
    {% for item in coverage_rates %}
        {% if item["coverage_rates"] != blank and item["product"] != blank %}
            {% liquid
                assign variable = all_products[item["product"]]
                assign value = item["coverage_rates"] | sort: 'projects'

                if selected.title == variable.title
                    assign current_coverage_rates = item["coverage_rates"]
                endif
            %}

            const {{ variable.title | camelcase }}Modal = {{ value | json }}
        {% endif %}
    {% endfor %}
</script>

    {% if has_product %}
        <section class="c-coverage-calculator-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <form novalidate>
                    <div class="input-group">
                        <div class="row unit-row align-items-lg-center">
                            <label class="col-12 col-lg-4">
                                {% if coverage_calculator.show_results_label != blank %}
                                    {{ coverage_calculator.show_results_label }}
                                {% else %}
                                    Show results in:
                                {% endif %}
                            </label>
                            <div class="col-12 col-lg-8 d-flex">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="project-unit" id="gallons" value="0" data-unit="feet" checked="checked" required>
                                    <label class="form-check-label" for="gallons">Gallons</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="project-unit" id="liters" value="1" data-unit="meter" required>
                                    <label class="form-check-label" for="liters">Liters</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="row product-row align-items-lg-center">
                            <label class="col-12 col-lg-4" for="product">
                                {% if coverage_calculator.product_label != blank %}
                                    {{ coverage_calculator.product_label }}
                                {% else %}
                                    Product:
                                {% endif %}
                            </label>
                            <div class="input-container col-12 col-lg-8">
                                <select class="form-select" aria-label="Product" name="product" id="product" required>
                                    {% for item in shop.metafields.custom_fields["coverage_rates"] %}
                                        {% if item["product"] != blank %}
                                            {% assign product = all_products[item["product"]] %}
                                            <option value="{{ product.title | camelcase }}Modal" {% if product.title == current_product %}selected{% endif %}>{{ product.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="row align-items-lg-center">
                            <label class="col-12 col-lg-4" for="project-size">
                                {% if coverage_calculator.size_of_project_label != blank %}
                                    {{ coverage_calculator.size_of_project_label }}
                                {% else %}
                                    Size of Project:
                                {% endif %}
                            </label>
                            <div class="input-container col-12 col-lg-auto">
                                <input class="form-control" type="number" name="project-size" id="project-size" aria-label="Size of Project" placeholder="Square Feet" required>
                                <span class="supplemental-text">Estimate the size of your project space</span>
                            </div>
                        </div>
                    </div>

                    {% if current_coverage_rates != blank %}
                        <div class="input-group">
                            <div class="row project-row align-items-lg-center">
                                <label class="col-12 col-lg-4" for="project-type">
                                    {% if coverage_calculator.type_of_project_label != blank %}
                                        {{ coverage_calculator.type_of_project_label }}
                                    {% else %}
                                        Type of Project:
                                    {% endif %}
                                </label>
                                <div class="input-container col-12 col-lg-auto">
                                    <select class="form-select" name="project-type" id="project-type" aria-label="Type of Product" required>
                                        {% assign options = current_coverage_rates | sort: 'projects' %}
                                        {% for option in options %}
                                            <option value="{{ option.square_feet }}|{{ option.square_meters }}">{{ option.projects }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="input-group">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <button class="button orange">
                                    {% if coverage_calculator.submit_label != blank %}
                                        {{ coverage_calculator.submit_label }}
                                    {% else %}
                                        Calculate
                                    {% endif %}
                                    <span class="arrow"></span></button>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="coverage-calculator-results">
                    <p>We Recommend:</p>
                    <div id="results">
                        <div id="result">
                            <span id="result-number"></span>
                            <span id="result-unit"></span>
                        </div>
                        <p id="result-product"></p>
                        {% if coverage_calculator.result_content != blank %}
                            {{ coverage_calculator.result_content }}
                        {% endif %}
                    </div>
                    <button id="coverage-calculator-reset">
                        {% if coverage_calculator.recalculate_button_label != blank %}
                            {{ coverage_calculator.recalculate_button_label }}
                        {% else %}
                            Calculate New Project
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
    {% endif %}
{% endif %}