{%- if cart != empty -%}
    <div class="cart-contents-container">
        <div class="cart-items-container">
            {%- for item in cart.items -%}
                {% liquid
                    assign variants = item.title | split: '-'
                    assign variant_title = variants | last | strip
                    assign product_project =  item.product.metafields.product.project
                    assign product_type =  item.product.metafields.product.product_type
                    assign product_discounts = item.discounts | map: 'title'
                    assign product_discount_prices = item.discounts | map: 'amount'
                    assign discount_prices = ''
                %}

                {% for discount_price in product_discount_prices %}
                    {% assign price = discount_price | money_without_currency %}
                    {% assign discount_prices = discount_prices | append: price %}
                {% endfor %}

                <div class="row cart-item-container"
                     id="CartItem-{{ item.index | plus: 1 }}"
                     data-id="{{ item.id }}"
                     data-variant-title="{{ variant_title }}"
                     data-project='{{ product_project }}'
                     data-product-type='{{ product_type }}'
                     data-discounts='{{ product_discounts }}'
                     data-discount-prices='{{ discount_prices }}'
                     data-price="{{ item.original_line_price | money_without_currency }}"
                >
                    <div class="col-12">
                        <h3 class="cart-notification-product__name">{{ item.product.title | escape }}</h3>
                    </div>
                    {%- if item.image -%}
                        <div class="col-5">
                            <div class="cart-notification-product__image">
                                <img src="{{ item.image | image_url: width: 140 }}"
                                     alt="{{ item.image.alt | escape }}"
                                     width="100"
                                     height="{{ 100 | divided_by: item.image.aspect_ratio | ceil }}"
                                     loading="lazy"
                                >
                            </div>
                        </div>
                    {%- endif -%}
                    <div class="{%- if item.image -%}col-7{%- else -%}col-12{%- endif -%}">
                        <div class="product-info-container d-flex justify-content-between">
                            <dl>
                                {%- unless item.product.has_only_default_variant -%}
                                    {%- for option in item.options_with_values -%}
                                        {% assign option_name = option.name | downcase %}
                                        {%- if option_name == 'color' or option_name == 'size' -%}
                                            <div class="product-option">
                                                <dd>{{ option.value }}</dd>
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}

                                    <div class="product-option">
                                        <dd>{{ item.original_line_price | money }}</dd>
                                    </div>
                                {%- endunless -%}
                                {%- for property in item.properties -%}
                                    {%- assign property_first_char = property.first | slice: 0 -%}
                                    {%- if property.last != blank and property_first_char != '_' -%}
                                        <div class="product-option">
                                            <dt>{{ property.first }}: </dt>
                                            <dd>
                                                {%- if property.last contains '/uploads/' -%}
                                                    <a href="{{ property.last }}" class="link" target="_blank">
                                                        {{ property.last | split: '/' | last }}
                                                    </a>
                                                {%- else -%}
                                                    {{ property.last }}
                                                {%- endif -%}
                                            </dd>
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </dl>
                        </div>

                        <quantity-input class="quantity">
                            <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                            </button>
                            <input class="quantity__input"
                                   type="number"
                                   name="updates[]"
                                   value="{{ item.quantity }}"
                                   min="0"
                                   aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                   id="Quantity-{{ item.index | plus: 1 }}"
                                   data-index="{{ item.index | plus: 1 }}"
                            >
                            <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                            </button>
                        </quantity-input>
                    </div>
                </div>
            {%- endfor -%}
        </div>

        <div class="cart-notification-subtotal d-flex justify-content-between">
            <div class="subtotal-label">{{ 'sections.cart.subtotal' | t }}</div>
            <div class="subtotal">{{ cart.total_price | money_with_currency }}</div>
        </div>
    </div>
{%- endif -%}