{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="l-footer footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
    <div class="container">
        {%- if section.settings.newsletter_enable or section.settings.show_social -%}
            <div class="row">
                <div class="col-12 col-lg-2">
                    <a href="{{ routes.root_url }}" class="logo">
                        <img data-src="{{ 'liquid-rubber-logo.svg' | asset_url }}"
                             class="header__heading-logo lazy"
                             alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                             width="145"
                             height="73"
                        >
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-5 d-flex">
                    <nav>
                        {%- for link in section.settings.footer_menu_1.links -%}
                            {% liquid
                                assign button_url = link.url

                                if shop.customer_accounts_enabled
                                    if link.url == routes.account_login_url and customer
                                        assign button_url = routes.account_url
                                    endif
                                endif
                            %}

                            <a href="{{ button_url }}" class="{%- if link.current %}active-menu-item{%- endif -%}" {% if link.current %} aria-current="page"{% endif %}>
                                {{ link.title | escape }}
                            </a>
                        {%- endfor -%}
                    </nav>
                    <nav>
                        {%- for link in section.settings.footer_menu_2.links -%}
                            {% liquid
                                assign button_url = link.url

                                if shop.customer_accounts_enabled
                                    if link.url == routes.account_login_url and customer
                                        assign button_url = routes.account_url
                                    endif
                                endif
                            %}

                            <a href="{{ button_url }}" class="{%- if link.current %}active-menu-item{%- endif -%}" {% if link.current %} aria-current="page"{% endif %}>
                                {{ link.title | escape }}
                            </a>
                        {%- endfor -%}
                    </nav>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    {%- if section.settings.newsletter_enable -%}
                        <div class="newsletter-container">
                            {%- if section.settings.newsletter_heading != blank -%}
                                <p>{{ section.settings.newsletter_heading | escape }}</p>
                            {%- endif -%}
                            <div class="klaviyo-form-V9MAyd"></div>
                        </div>
                    {%- endif -%}

                    {%- if section.settings.show_social -%}
                        <ul class="social" role="list">
                            {%- if settings.social_twitter_link != blank -%}
                                <li class="list-social__item">
                                    <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                                        {%- render 'icon-twitter' -%}
                                        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if settings.social_youtube_link != blank -%}
                                <li class="list-social__item">
                                    <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                                        {%- render 'icon-youtube' -%}
                                        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if settings.social_pinterest_link != blank -%}
                                <li class="list-social__item">
                                    <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                                        {%- render 'icon-pinterest' -%}
                                        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if settings.social_facebook_link != blank -%}
                                <li class="list-social__item">
                                    <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                                        {%- render 'icon-facebook' -%}
                                        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                                    </a>
                                </li>
                            {%- endif -%}
                            {%- if settings.social_instagram_link != blank -%}
                                <li class="list-social__item">
                                    <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                                        {%- render 'icon-instagram' -%}
                                        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                                    </a>
                                </li>
                            {%- endif -%}
                        </ul>
                    {%- endif -%}

                    {%- if section.settings.email != blank -%}
                        <a href="mailto:{{ section.settings.email | escape }}" class="email">{{ section.settings.email }}</a>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}

        <div class="row disclaimer-row">
            <div class="col-12">
                <small class="copyright__content">{{ 'now' | date: "%Y" }} {{ shop.address.company }}</small>

                <nav class="disclaimer">
                    {%- for link in section.settings.disclaimer_menu.links -%}
                        <a href="{{ link.url }}" class="{%- if link.current %}active-menu-item{%- endif -%}" {% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                        </a>
                    {%- endfor -%}
                </nav>

              {% comment %}
                <small class="zz-created">Website Created By <a href="https://www.zionandzion.com/" target="_blank">Zion & Zion</a></small>
                {% endcomment %}
            </div>
        </div>
    </div>
</footer>
<script>
 

    $(window).on('load', function(){
        window.addEventListener("klaviyoForms", function(e) {
            if (e.detail.type === 'submit' && e.detail.formId === 'V9MAyd') {
                utag.link({
                    event_type: "generate_lead",
                    email_subscription: "sign up",
                    tealium_event: "email_signup",
                    email: e.detail.metaData.$email
                })
            }
        })
    });
</script>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "link_list",
      "id": "footer_menu_1",
      "label": "Footer Menu 1"
    },
    {
      "type": "link_list",
      "id": "footer_menu_2",
      "label": "Footer Menu 2"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email Address"
    },
    {
      "type": "link_list",
      "id": "disclaimer_menu",
      "label": "Disclaimer Menu"
    }
  ]
}
{% endschema %}
